<div class="SwipeBox-Head content">
  <span (click)="onClickControl()"
        [class.HiddenBox]="!expand"
        [class.ExpandBox]="expand">
    Победители второй недели:
  </span>
</div>
<!--<div vtbAzSmoothHeight [show]="_open">-->
<div [@height-scaled]="_open">
  <div class="SwipeBox content">
    <div class="SwipeBox-Test">
      <div class="Buttons-ArrowLeft">
        <img src="../../../assets/image/ArrowLeft.svg" alt="">
      </div>
      <swiper [config]="config">
          <div style="display: flex" class="swiper-wrapper">
            <div *ngFor="let winner of winnersConst, index as i" class="swiper-slide">
              <div  class="SwipeBox-Block">
                <div class="SwipeBox-Block-Counter">
                  <span>{{i + 1}}/{{this.winnersConst.length}}</span>
                  <div>
                    <img src="../../../assets/image/npLaurel.svg" alt="">
                  </div>
                </div>
                <div class="SwipeBox-Block-Person">
                  <div class="SwipeBox-Block-PersonName">
                    {{winner.name}}
                  </div>
                  <div class="SwipeBox-Block-PersonCard">
                    **** **** **** {{winner.lastNumberCard}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper>

      <div class="Buttons-ArrowRight">
        <img src="../../../assets/image/ArrowRight.svg" alt="">
      </div>
    </div>
  </div>
</div>
