@import "src/styles/abstracts/mixins/typography";
@import "src/styles/abstracts/mixins/box";

.Footer {
  background-color: var(--C4);
  @include box-p(68px 7vw 40px 7vw);
  &-Contacts {
    display: flex;
    color: var(--C1);
    &Description {
      padding-top: 10px;
      @include TP_22-26-500;
    }
    &Icons {
      a {
        height: 30px;
      }
      display: grid;
      margin-left: auto;
      grid-template-columns: max-content max-content max-content max-content;
      grid-gap: 0px 20px;
    }
    &Agreement {
      margin-left: auto;
      @include TP_13-20-Normal;
    }
    &Place {
      @include TP_13-20-Normal;
    }
  }
  &-LineSeparator {
    @include box-m(xl 0);
    border: 1px solid #E11938;
  }
  &-Entitlement {
    color: var(--C1);
    @include TP_13-20-Normal;
  }
}

.PhoneUrlWhite {
  color: var(--C1);
  text-decoration: none;
}
.PhoneUrlWhite:hover {
  text-decoration: underline;
}
