<div class="Footer">
  <div class="Footer-Contacts">
    <div class="Footer-ContactsDescription">
      Телефон для справок —
      <a href="tel: 88002502777" class="PhoneUrlWhite">8 800 250 2 777</a>
      <br> Звонок по России бесплатный</div>
    <div class="Footer-ContactsIcons">
      <a href="https://twitter.com/kamen_v_lesu" target="_blank">
        <img src="../../../assets/image/Twitter.svg" alt="">
      </a>
      <a href="https://www.facebook.com/l.V.Leshchenko/" target="_blank">
        <img src="../../../assets/image/FaceBook.svg" alt="">
      </a>
      <a href="https://vk.com/truckclub777" target="_blank">
        <img src="../../../assets/image/VK.svg" alt="">
      </a>
      <a href="https://www.youtube.com/c/A4a4a4a4/videos" target="_blank">
        <img src="../../../assets/image/YouTube.svg" alt="">
      </a>
    </div>
  </div>
  <div class="Footer-LineSeparator"></div>
  <div class="Footer-Contacts" style="padding-bottom: 80px">
    <div class="Footer-ContactsPlace">
      610002, РФ / Киров, ул. Урицкого, д. 40 /
      <a href="tel: 88002502777" class="PhoneUrlWhite">8 (800) 250 2 777</a>
      <br>
      <br>
      Лицензия №254 / Раскрытие корпоративной информации / Информация о ставках по вкладам.
    </div>
    <div class="Footer-ContactsAgreement">
      Пользовательское соглашение / Политика конфиденциальности
      <br>
      <br>
      © 2016 АО КБ «Хлынов». Все права защищены
    </div>
  </div>
  <div class="Footer-Entitlement">
    В рамках акции «Новый кредит для новых друзей!» предоставляется кредит на любые потребительские цели.
    Акция действует с 26.06.2017 по 31.08.2017 г. включительно. Сумма кредита: от 5 000 до 500 000 рублей.
    Ставка по кредиту: от 14% годовых, зависит от участия в программе добровольного страхования жизни и здоровья Заемщика,
    кредитоспособности Заемщика и составляет не более 16%. Срок кредита: от 3 до 60 месяцев (до 36 месяцев для неработающих пенсионеров).
    Кредит предоставляется клиентам, у которых нет и не было в течение последних трех месяцев действующих кредитов
    в банке «Хлынов» (потребительских, автокредитов). Без обеспечения. Кредит без обеспечения предоставляется клиентам в возрасте от 25 лет.
    Комиссии за выдачу и обслуживание кредита отсутствуют.
    Участие клиента в программе страхования жизни и здоровья Заемщиков АО КБ «Хлынов» добровольное и не влияет на возможность получения кредита.
    Процентная ставка фиксируется в Индивидуальных условиях кредитного договора и не подлежит изменению в период действия договора.
    Предложение не является офертой. Подробности в офисах банка, по телефону 8 (800) 250-2-777 и на сайте банк-хлынов.рф.
    Коммерческий банк «Хлынов» (акционерное общество), лицензия ЦБ РФ № 254.
  </div>
</div>
