
<div class="BlockClock-Header content">
  До конца розыгрыша осталось:
</div>
<div class="BlockClocks content">
  <div class="BlockClock">
    <div class="BlockClock-Tens">
      <div class="BlockClock-Units">{{day[0]}}</div>
      <div class="BlockClock-Units">{{day[1]}}</div>
    </div>

    <div class="BlockClock-Description">день</div>
  </div>
  <div class="BlockClock">
    <div class="BlockClock-Tens">
      <div class="BlockClock-Units">{{this.countdownTimerService.timerValue.hours[0]}}</div>
      <div class="BlockClock-Units">{{this.countdownTimerService.timerValue.hours[1]}}</div>
    </div>

    <div class="BlockClock-Description">час</div>
  </div>
  <div class="BlockClock">
    <div class="BlockClock-Tens">
      <div class="BlockClock-Units">{{this.countdownTimerService.timerValue.mins[0]}}</div>
      <div class="BlockClock-Units">{{this.countdownTimerService.timerValue.mins[1]}}</div>
    </div>

    <div class="BlockClock-Description">минуты</div>
  </div>
  <div class="BlockClock">
    <div class="BlockClock-Tens">
      <div class="BlockClock-Units">{{this.countdownTimerService.timerValue.seconds[0]}}</div>
      <div class="BlockClock-Units">{{this.countdownTimerService.timerValue.seconds[1]}}</div>
    </div>

    <div class="BlockClock-Description">секунды</div>
  </div>
  <countdown-timer style="display: none" [countDownTimerConfig]="config"></countdown-timer>
</div>
