@import "src/styles/abstracts/mixins/typography";

.BlockClocks {
  justify-content: center;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-gap: var(--spacing-s);
  margin-bottom: 80px;
  justify-items: center;
}

.BlockClock {
  &-Header {
    text-align: center;
    padding-bottom: var(--spacing-s);
    color: var(--C1);
    @include TP_22-30-500;
  }
  &-Tens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
  }
  &-Units {
    @include TP_56-60-500;
    color: var(--C8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 90px;
    width: 82px;
    background-color: var(--C1);
  }
  &-Description {
    margin-top: 10px;
    text-align: center;
    @include TP_14-20-500;
    color: var(--C1);
  }
}
