@import '../variables/spacing';

@function generate-var-spacing-by-name($name) {
  @return var(--spacing-#{$name});
}

@function decode-params($listNames, $spacingsVar: $spacings) {
  $str: '';
  @each $name in $listNames {
    $add: $name;
    @if (map_get($spacingsVar, $name)) {
      $add: generate-var-spacing-by-name($name);
    }
    $str: $str + ' ' + $add;
  }
  @return $str;
}

@mixin box-m($param) {
 margin: #{decode-params($param)};
}

@mixin box-p($param) {
 padding: #{decode-params($param)};
}
