@mixin FontBaseMixin {
  font-weight: normal;
  font-style: normal;
}

@mixin TP_22-26-Normal {
  font-family: Roboto, serif;
  font-size: 22px;
  line-height: 26px;
  @include FontBaseMixin;
}

@mixin TP_22-26-500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

@mixin TP_22-30-Normal {
  font-family: Roboto, serif;
  font-size: 22px;
  line-height: 30px;
  @include FontBaseMixin;
}

@mixin TP_22-30-500 {
  font-weight: 500;
  font-family: Roboto, serif;
  font-size: 22px;
  line-height: 30px;
}

@mixin TP_20-35-Normal {
  font-family: Roboto, serif;
  font-size: 20px;
  line-height: 25px;
  @include FontBaseMixin;
}

@mixin TP_16-24-Normal {
  font-family: Roboto, serif;
  font-size: 16px;
  line-height: 24px;
  @include FontBaseMixin;
}

@mixin TP_18-25-500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

@mixin TP_14-20-Normal {
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 20px;
  @include FontBaseMixin;
}

@mixin TP_13-20-Normal {
  font-family: Roboto, serif;
  font-size: 13px;
  line-height: 20px;
  @include FontBaseMixin;
}

@mixin TP_14-20-500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

@mixin TP_56-60-500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 60px;
  font-style: normal;
}

@mixin TP_42-50-500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
}

@mixin TP_35-45-500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
}
