@import "src/styles/abstracts/mixins/typography";
@import "src/styles/abstracts/mixins/box";

.MainRoot {
  overflow: hidden;
  width: inherit;
  position: relative;
  &-TopBackgroundImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include box-m(l 0);
  }
  &-MoneyBack {
    display: grid;
    text-align: center;
    justify-items: center;
    &-Description {
      padding-top:  var(--spacing-s);
      padding-bottom: var(--spacing-l);
      @include TP_22-30-Normal
    }
    color: var(--C1);
  }
}

.PreFooter {
  margin-top: 80px;
  color: var(--C1);
  text-align: center;
  display: grid;
  justify-items: center;
  &-Description {
    width: 800px;
    padding-top:  var(--spacing-s);
    padding-bottom: var(--spacing-l);
    @include TP_22-30-Normal
  }
  &-Buttons {
    cursor: pointer;
    width: 378px;
    border: none;
    height: 84px;
    box-shadow: 0px -10px 50px rgba(23, 24, 23, 0.3);
    border-radius: 41px;
    color: var(--C8);
    @include TP_22-26-Normal;
    background-color: var(--C6);
  }
  &-Image {
    overflow: hidden;
    position: relative;
    display: grid;
    height: 290px;
    background-image: url(../../../assets/image/CardForBackGround.svg), url(../../../assets/image/Background.svg);
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 50px, 50% top;
  }
}
