<div class="MainRoot">
  <form [formGroup]="form">
    <app-main-header></app-main-header>
    <img class="MainRoot-TopBackgroundImage" src="../../../assets/image/BackgroundTop.svg" alt="">
    <div class="MainRoot-MoneyBack content">
      <div class="h2-custom">Деньги возвращаются!</div>
      <div  class="MainRoot-MoneyBack-Description">Расплачивайся кредитной картой и возвращай 500 ₽ + кэшбэк каждую неделю. </div>
    </div>
<!--    <app-line-separator></app-line-separator>-->
<!--    <app-winners></app-winners>-->
    <app-line-separator></app-line-separator>
    <app-winners-list formControlName="winners"></app-winners-list>
    <app-line-separator></app-line-separator>
    <app-marketing></app-marketing>
    <app-timer></app-timer>
    <app-line-separator></app-line-separator>
    <div class="PreFooter content">
      <div class="h3-custom">Нужна карта для покупок?</div>
      <div class="PreFooter-Description">
        Всегда с собой всегда с деньгами — карта для ежедневных покупок с кэшбэком! Закажи онлайн.
      </div>
      <a href="https://yandex.ru/" target="_blank">
        <button class="PreFooter-Buttons">Узнать больше</button>
      </a>
    </div>
    <div class="PreFooter-Image">
    </div>
    <app-footer></app-footer>
  </form>
</div>
