@import "src/styles/abstracts/mixins/typography";
@import "src/styles/abstracts/mixins/box";

.SwipeBox {
  &-Test {
    position: relative;
  }
  box-sizing: content-box;
  padding-bottom: var(--spacing-xl);
  will-change: height;
  margin: 0 auto 0 auto;
  width: 840px;
  &-Head {
    cursor: pointer;
    color: var(--C1);
    @include TP_35-45-500;
    text-align: center;
    letter-spacing: -1px;
    @include box-p(xl 0);
  }
  &-Hidden {
    cursor: pointer;
    color: var(--C1);
    @include TP_35-45-500;
    text-align: center;
    letter-spacing: -1px;
    @include box-p(xl 0);
  }

  &-Block {
    height: 264px;
    background-color: var(--C1);
    border-radius: 20px;
    &-Counter {
      @include TP_13-20-Normal;
      color: var(--C7);
      padding-top: var(--spacing-l);
      text-align: center;
    }
    &-Person {
      color: var(--C8);
      &Name {
        text-align: center;
        @include TP_56-60-500;
      }
      &Card {
        padding-top: var(--spacing-s);
        text-align: center;
        letter-spacing: -0.5px;
        @include TP_18-25-500;
      }
    }
  }
}

.HiddenBox {
  transition: opacity;
  transition-duration: 200ms;
  opacity: 0.65;
  border-bottom: 1px dashed #ffffff;
}
.HiddenBox:hover {
  opacity: 1;
}
.ExpandBox {
  transition: opacity;
  transition-duration: 200ms;
  opacity: 1;
  border-bottom: 1px dashed #ffffff;
}
.ExpandBox:hover {
  opacity: 0.65;
}

.Buttons {
  &-ArrowRight {
    img {
      height: fit-content;
      margin: auto;
    }
    align-self: center;
    justify-self: center;
    margin: auto;
    z-index: 5;
    cursor: pointer;
    display: flex;
    border: none;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -36px;
    background-color: var(--C6);
  }
  &-ArrowLeft {
    img {
      height: fit-content;
      margin: auto;
    }
    align-self: center;
    justify-self: center;
    margin: auto;
    z-index: 5;
    cursor: pointer;
    border: none;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -36px;
    width: 72px;
    height: 72px;
    border-radius: 36px;
    background-color: var(--C6);
  }
}
