/* You can add global styles to this file, and also import other style files */
@import "styles/abstracts/variables/colors.scss";
@import "styles/abstracts/mixins/typography.scss";
@import "styles/abstracts/mixins/box.scss";

html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

body {
  overflow: auto;
  margin: 0;
  background-color: var(--C3);
}

.content {
  margin: 0 7vw;
  max-width: 86vw;
}

.h2-custom {
  margin: 0;
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -0.8px;
}

.h3-custom {
  margin: 0;
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -0.8px;
}
