<div class="Marketing content">
  <div class="Marketing-Header h3-custom">
    Каждую неделю получай 500 ₽ за покупки кредитной картой!
  </div>
  <div class="Marketing-Commercial">
    <div class="Marketing-Commercial-Block">
      <img src="../../../assets/image/CardHand.svg" alt="">
      <div class="Marketing-Commercial-Description">
        Чтобы стать участником, расплачивайтесь кредитной картой 3 раза в неделю на сумму от 500 ₽.
      </div>
    </div>
    <div class="Marketing-Commercial-Block">
      <div class="Marketing-Commercial-Icon">
        <img src="../../../assets/image/Raffle.svg" alt="">
      </div>
      <div class="Marketing-Commercial-Description">
        Вы автоматически станете участником акции. Розыгрыш начинается каждый вторник.
      </div>
    </div>
    <div class="Marketing-Commercial-Block">
      <img src="../../../assets/image/Award.svg" alt="">
      <div class="Marketing-Commercial-Description">
        Получите 500 ₽ + кэшбэк на свою кредитную карту. Результаты будут опубликованы на странице акции во вторник 15 ноября.
      </div>
    </div>
  </div>
</div>
