@import "src/styles/abstracts/mixins/typography";

.Marketing {
  display: flex;
  flex-direction: column;
  justify-items: center;
  &-Header {
    width: 800px;
    text-align: center;
    color: var(--C1);
    margin: 80px auto 0 auto;
  }
  &-Commercial {
    overflow: auto;
    margin: 40px 0px 70px 0px;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0 42px;
    &-Block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-Description {
      @include TP_20-35-Normal;
      color: var(--C1);
      width: 378px;
    }
  }
}

.Marketing-Commercial::-webkit-scrollbar {
  height: 8px;
  border-radius: 4px;
  background: #323233;
}
.Marketing-Commercial::-webkit-scrollbar-thumb {
  background-color: var(--C6);
  border-radius: 9em;
}
