<div class="MainHeaderLogo">
  <img src="../../../assets/image/LogoBlk.svg" alt="hlynov">
</div>
<div class="MainHeaderContact">
  <div>
    <a class="MainHeaderContactPhone PhoneUrlWhite" href="tel: 88002502777">8 800 250 2 777</a>
  </div>
  <div class="MainHeaderContactDescription">
    Звонок по России бесплатный
  </div>
</div>
