@import "src/styles/abstracts/mixins/typography";
@import "src/styles/abstracts/mixins/box";

.MainHeader {
  right: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  &Logo {
    margin: 0 auto 0 0;
    width: fit-content;
    @include box-p(s m);
    background-color: var(--C1);
  }
  &Contact {
    @include box-m(s 0 0 0);
    color: var(--C1);
    &Phone {
      @include TP_22-26-Normal;
    }
    &Description {
      @include TP_16-24-Normal;
    }
  }
}

.PhoneUrlWhite {
  color: var(--C1);
  text-decoration: none;
}
.PhoneUrlWhite:hover {
  text-decoration: underline;
}
